.box {
  width: 200px;
  height: 200px;
  background-color: orangered;
  font-size: 60px;
  color: #fff;
  text-align: center;
  margin: 350px auto;
  padding-top: 55px;
  box-sizing: border-box;
  /*transform: translateX(200px);
  transform: translateY(200px);*/
  transition: transform 1s;
}

.box:hover {
  /* transform: translate(100px, 200px); */
  /* transform: rotate(-90deg); */
  transform: scale(0.5, 0.5);
  /*transform: scaleX(0.5);
  transform: scaleY(0.5);*/
  /*transform: skewX(30deg);
  transform: skewY(30deg);*/
  transform: skew(30deg);
}
